
body {
  
  background-color: #34495E;
  color: #F8F9F9;
  font-family: Baskervill, Helvetica, sans-serif;
  margin: 10% 10%;
  border-left: 4px solid;
  border-right: 4px solid;
  border-top: 4px solid;
  text-align: "center";
  padding-left: 15px;
  line-height: 1;
  
}
p{
  
}
.header{
 width: 50%;

}
.profile{
  padding-left: 10px;
  
  }


.img {
  float: right;
  padding-right: 3px;
  width: 50%;  
  height: auto;  
}


.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 4px solid #dddddd;
  border-bottom: 4px solid #dddddd;
}

.pe {
  text-align: center;
  text-transform: uppercase;
  border-top: 4px solid #dddddd;
  border-bottom: 4px solid #dddddd;
}

.education{
  text-align: center;
  text-transform: uppercase;
 
}
.education1{
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #dddddd;
}

.fia {
  text-align: left;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 0.5px solid #dddddd;
}
  .success {
  text-align: left;
  text-transform: uppercase;
  border-bottom: 0.5px solid #dddddd;
}
  .member {
  text-align: left;
  text-transform: uppercase;
  border-bottom: 0.5px solid #dddddd;
}
 .ubah {
  text-align: left;
  text-transform: uppercase;
  border-bottom: 0.5px solid #dddddd;
}
 .personal {
  text-align: left;
  text-transform: uppercase;
  border-bottom: 0.5px solid #dddddd;
}

 .english {
  text-align: left;
  text-transform: uppercase;
  border-bottom: 0.5px solid #dddddd;
}
.employee{
  text-align: left;
  text-transform: uppercase;
  border-bottom: 0.5px solid #dddddd;
}





